$primary-color: #16116B;
$primary-dark-color: #0e0b50;
$primary-light-color: #8EAFFF;

$error-color: #c71313; 

$surface-color: #fff;
$surface-hover-color: #d0d0d0;
$color-on-primary: #fff;
$color-on-surface: #000;