@use 'colors';

#add-product-page-content {
    width: 60%;
    margin: 40px auto;

    button {
        float: right;
    }
}

// #add-product-button {
//     position: relative;
//     margin: 30px auto;
// }