@use 'sass:math';
@use 'colors';

$error-icon-size: 20px;
$error-border-width: 1.75px;

$input-container-hover-color: #b2b1b1;
$input-horizontal-padding: 15px;

.advanced-input-field-container {
    position: relative;

    border-radius: 20px;
   
    border-style: none;
    background-color: #cccccc;

    transition: background-color .2s;

    &:hover, &:focus {
        background-color: $input-container-hover-color;
    }

    input {
        position: relative;
        left: 0;
        top: 0;
        padding: 25px $input-horizontal-padding 15px $input-horizontal-padding;

        border: none;
        background: none;
    }
}

.advanced-input-field-placeholder {
    position: absolute;
    top: 50%;
    left: $input-horizontal-padding;
    transform: translateY(-50%);
    margin: 0;
    z-index: 1;
    pointer-events: none;

    transition-property: top, left, transform;
    transition-duration: .2s;
}

.advanced-input-field-container.mini-placeholder {
    .advanced-input-field-placeholder {
        top: 2px;

        // Placeholder left position is a little off.
        left: $input-horizontal-padding - 2px;
        transform: scale(.85);
    }
}

.advanced-input-field-container.in-error-state {
    outline: $error-border-width colors.$error-color solid;

    .advanced-input-error-icon {
        visibility: visible;
    }
}

.advanced-input-error-icon {
    visibility: hidden;
    position: absolute;
    
    top: 50%;
    left: calc(100% - ($error-icon-size + 10px));
    transform: translateY(-50%);
    pointer-events: none;

    width: $error-icon-size;
    height: $error-icon-size;

    color: colors.$error-color;
    fill: colors.$error-color;
}

