#footer {
    margin: 0;
    padding: 40px 0;

    a {
        display: block;
        position: relative;
        width: fit-content;
    }

    * {
        margin: 15px auto;
        color: #7E7E7E;
    }
}

#footer-copyright {
    display: block;
    position: relative;
    width: fit-content;
}