@use 'colors';
@use 'sass:math';

#about-us-block {
    background-color: colors.$primary-light-color;
    padding: 60px 0;

    h1, p {
        display: block;
        position: relative;
       
        margin: 0 auto;
    
        text-align: center;
    }

    h1 {
        font-size: 2em;
    }

    p {
        margin-top: 50px;
        padding: 0 50px;
        width: 70%;
        line-height: 1.75;
        font-size: 1.25em;
    }
}