@use 'colors';

.product-image-with-stripe {
    background-color: #E7EAEF;
    position: relative;

    img {
       width: 100%;
    }

    p {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;

        padding: 5px;

        background-color: colors.$primary-color;
        color: colors.$color-on-primary;
    }
}