@use "./dimensions.scss";

#header {
    display: flex;
    height: dimensions.$header-height;
    align-items: center;
    border-bottom: 1px black solid;
}

#header-logo {    
    margin: 5px;
    width: dimensions.$header-icon-size;
    height: dimensions.$header-icon-size;
}

#header-logo-name {
    margin-left: 5px;
    display: inline-block;
  
}