@use 'colors';

.user-panel {
    display: flex;
    align-items: center;

    img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-right: 10px;
    }

//     * {
//         float: left;
//     }
}